.header {
	text-align: center;
}

.logo {
	display: block;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	padding-bottom: 1em;
}

h2 {
	font-size: 2em;
	line-height: 1.1em;
	/*margin: .4em;*/
	font-family: Lato, sans-serif;
}