h1 {
	font-size: 3.2em;
	margin: 1em 0 1em 0;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
}

.bearcat {
	display: block;
	height: 300px;
	width: 300px;
	margin: 0 auto;
	padding-bottom: 1em;
}

h2 {
	font-size: 2em;
	line-height: 1.1em;
	/*margin: .4em;*/
	font-family: 'Open Sans', sans-serif;
}

.countdown-text {
	font-size: 2.5em;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	margin: 20px 0 5px 0;
}

.timer-remaining {
	font-size: .5em;
	font-family: 'Open Sans', sans-serif;
	margin: 0 0 20px;
	color: #555555;
	/*margin-top: -25px;*/
}

.timer {
	background: white;
	text-align: center;
	/*color: #CCCCCC;*/
	color: black;
	padding: .5em 0;
}

.title {
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
}

.top {
	margin: -8px 0 0 0;
}

.schedule {
	padding: 1em 0 0;
	display: block;
	/*text-align: center;*/
	float: center;
}
.schedule-title {
	text-align: center;
	font-size: 2em;
	padding-top: 1em;
	margin-bottom: -.5em;
}
.schedule-table {
	margin: 1em auto;
	width: 100%;
	max-width: 40em;
}
.schedule-table td {
	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	padding: 0.9em;
}
.schedule-table tbody tr:nth-child(even) {
	border-bottom: 1px solid #eeedeb;
	border-top: 1px solid #eeedeb;
	background-color: #555555;
}
.schedule-table thead: first-child .schedule-table-date td {
	padding-top: 0em;
}
.schedule-table-date {
	border-bottom: 1px solid #ddd;
	font-size: 1.5em;
	font-weight: 700;
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	/*margin-top: 1.5em;*/
}
.schedule-table-date td {
	padding-bottom: 1em;
	padding-top: 2em;
}
.schedule-hr {
	margin: 8px;
}

.twitter {
	text-align: center;
	padding-bottom: 0em;
	background: 
	/*background: #09152E;*/
	/*background: white;
	color: black;*/
}

.twitter-timeline {
	width: 40%;
	/*min-width: 500px;*/
	display: block;
	margin: 0 auto;
}

.spotify {
	/*width: 500px;*/
	/*min-width: 500px;*/
	display: block;
	margin: 0 auto;
}

body {
	background-color: #333333;
	color: white;
	font-family: 'Open Sans', serif;
}

@media (max-width: 768px) { 
	.countdown-text {
		font-size: 2.5em;
	}

	.twitter-timeline {
		width: 280px;
		/*width: 90%;*/
		float: center;
		margin: 0 auto;
	}

	.spotify {
		width: 280px;
		float: center;
		margin: 0 auto;
	}
}
