h1 {
	font-size: 3.2em;
	margin: .8em;
	text-align: center;
	padding-bottom: 1em;
}

#wrap {}

.countdown {
	text-align: center;
	display: block;
	width: 50%;
	float: left;
}

.twitter-timeline {
	/*padding-left: 1em;*/
	width: 50%;
	float: right;
}

body {
	background-color: #333555;
	color: white;
	/*text-align: center;*/
}

